* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

.banner {
    width:100%;
    padding: 120px 80px;
    background-image: url(banner-topo.jpg);
    background-position: center;
    background-size: cover;
}

.banner-um {
    max-width: 250px;
    color: #3c184e;
}

.banner-um .p1 {
    font-size: 35px;
    margin: 0 0 5px 0;
}

.banner-um img {
    width: 30px;    
    margin-right: 5px;
}

.banner-um .p2 {
    font-size: 14px;
    text-align: center;
    margin: 0;
}

.banner-dois {
    max-width: 1024px;
    border-radius: 10px;
    padding: 40px;
    margin: 70px auto 0 auto;
    background-color: #ffffffc4;
    box-shadow: 0 8px 32px #1f26875e;
}

.banner-dois h1 {
    font-size: 60px;
    color: #3c184e;
    text-align: center;
    font-weight: 800;
    margin: 0 0 40px 0;
}

.banner-dois p {
    width: 200px;
    padding: 10px 25px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #3c184e;
    font-size: 20px;
    text-align: center;
}

.banner-dois a {
    color: #ffff;
}
.banner-dois img {
    width: 20px;
}

.servicos, .marcas, .localizacao {
    width: 100%;
    padding: 120px 80px;
}

.servicos h2, .marcas h2, .localizacao h2 {
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px 0;
}

.lista-servicos {
    max-width: 800px;
    margin: 0 auto 50px auto;
    color: #3c184e;
}

.lista-servicos li {
    font-size: 20px;
    margin: 0 0 20px 0;
}

.lista-servicos span {
    font-weight: 700;
    font-style: italic;
}

.servicos-imagens {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.imagem-servico {
    border-radius: 5px;
    box-shadow: 3px 6px 10px 6px #0000005c;
}

.faixa {
    padding: 120px 80px;
    background-color: #3c184e;
    text-align: center;
}

.faixa p {
    max-width: 800px;
    margin: 0 auto 50px auto;
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.faixa span {
    font-weight: 700;
    font-style: italic;
}

.faixa div {
    text-align: center;
}

.faixa a {
    margin-left: 20px;
    margin-right: 20px;
}

.faixa img {
    width: 50px;
    height: 50px;
}


.imagens-marcas {
    max-width: 800px;
    margin: 0 auto;
}

.imagens-marcas img {
    width: 148px;
    height: 148px;
    margin: 0 15px;
}

.localizacao {
    text-align: center;
}

.localizacao p {
font-size: 20px;
color: #3c184e;
margin: 0 0 45px 0;
}

.rodape {
    max-width: 100%;
    padding: 10px 0;
    background-color: #3c184e;
}

.rodape p {
    color: #fff;
    font-size: 12px;
    text-align: center;
}